<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="describe" content="">
<meta name="author" content="">

<title>组织机构管理</title>
<script type="text/javascript"
	src="/bike/organization/user/user_js.js"></script>
</head>

<body>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">人员管理</h1>
		</div>
	</div>
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div id="user">
				<div class="panel-heading">人员列表</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div id="dataTables-example_wrapper"
						class="dataTables_wrapper form-inline dt-bootstrap no-footer">
						<div class="col-sm-12">
							<div id="dataTables-example_filter" class="dataTables_filter">
								<label>用户名: <input type="text"
									v-model.trim.lazy="user.username" class="form-control input-sm"
									aria-controls="dataTables-example"></label> <label>
									办公电话： <input type="text" v-model.trim.lazy="user.office_phone"
									class="form-control input-sm"
									aria-controls="dataTables-example">
								</label> <label>个人电话: <input type="text"
									v-model.trim.lazy="user.mobile_phone"
									class="form-control input-sm"
									aria-controls="dataTables-example"></label> <label>Email:
									<input type="text" v-model.trim.lazy="user.email"
									class="form-control input-sm"
									aria-controls="dataTables-example">
								</label> <label>注销状态: <select v-model="user.zxbj"
									class="form-control input-sm"
									aria-controls="dataTables-example">
										<option value="-1">请选择</option>
										<option value="0">未注销</option>
										<option value="1">已注销</option>
								</select></label> <label>角色: <select v-model="user.role_id"
									class="form-control input-sm"
									aria-controls="dataTables-example">
										<option value="-1">请选择</option>
										<option v-for="role in roleList" :value="role.role_id">{{role.role_describe}}</option>
								</select>
								</label>
								<button type="button" class="btn btn-info" @click="goPage(1)">查询</button>
								&nbsp;&nbsp;
								<button type="button" class="btn btn-info" onclick="addShow()">新增</button>
							</div>
						</div>
						<div class="col-sm-12">
							<table width="100%"
								class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline"
								role="grid" aria-describedby="dataTables-example_info"
								style="width: 100%; text-align: center">
								<thead>
									<tr role="row">
										<th>用户Id</th>
										<th>登录名</th>
										<th>用户名</th>
										<th>办公电话</th>
										<th>个人电话</th>
										<th>Email</th>
										<th>注销状态</th>
										<th>角色</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(item,index) in list"
										:class="{gradeA:true,even:index%2==0,odd:index%2==1}"
										role="row">
										<td class="sorting_1">{{item.user_id}}</td>
										<td>{{item.login_name}}</td>
										<td>{{item.username}}</td>
										<td>{{item.office_phone}}</td>
										<td>{{item.mobile_phone}}</td>
										<td>{{item.email}}</td>
										<td v-if="item.zxbj==0">未注销</td>
										<td v-if="item.zxbj==1">已注销</td>
										<td>{{item.role_describe}}</td>
										<td>
											<button title="修改" type="button"
												class="btn btn-info btn-circle"
												@click="modifyUser(item.user_id)">
												<i class="fa fa-check"></i>
											</button>
											<button title="注销" type="button"
												class="btn btn-warning btn-circle"
												@click="cancelUser(item.user_id) ">
												<i class="fa fa-times"></i>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col-sm-6">
							<div class="dataTables_info" id="dataTables-example_info"
								role="status" aria-live="polite">
								每页显示{{pageInfo.pageSize}}条，共{{pageInfo.total}}条</div>
						</div>
						<div class="col-sm-6">
							<div class="dataTables_paginate paging_simple_numbers"
								id="dataTables-example_paginate">
								<ul class="pagination">
									<li
										:class="{paginate_button:true, previous:true, disabled:pageInfo.isFirstPage}"
										aria-controls="dataTables-example" tabindex="0"
										id="dataTables-example_previous"><a
										href="javascript:void(0)" @click="goPage(pageInfo.pageNum-1)">上一页</a></li>


									<li v-for="item in pageInfo.navigatepageNums"
										:class="{paginate_button:true, active:item==pageInfo.pageNum}"
										aria-controls="dataTables-example" tabindex="0"><a
										href="javascript:void(0)" @click="goPage(item)">{{item}}</a></li>

									<li
										:class="{paginate_button:true, next:true, disabled:pageInfo.isLastPage}"
										aria-controls="dataTables-example" tabindex="0"
										id="dataTables-example_next"><a href="javascript:void(0)"
										@click="goPage(pageInfo.pageNum+1)">下一页</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 新增 -->
			<div id="addUser" style="display: none">
				<div class="panel-heading">人员新增</div>
				<table width="100%"
					class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline"
					role="grid" aria-describedby="dataTables-example_info"
					style="width: 100%; text-align:center">
					<tbody>
					<tr><td>登录名</td><td><input type="text" v-model.trim.lazy="user.login_name" @change="checkLogin_name()"></td></tr>
					<tr><td>用户名</td><td><input type="text" v-model.trim.lazy="user.username"></td></tr>
					<tr><td>密码</td><td><input type="text" v-model.trim.lazy="user.password"></td></tr>
					<tr><td>办公电话</td><td><input type="text" v-model.trim.lazy="user.office_phone"></td></tr>
					<tr><td>个人电话</td><td><input type="text" v-model.trim.lazy="user.mobile_phone"></td></tr>
					<tr><td>Email</td><td><input type="email" v-model.trim.lazy="user.email"></td></tr>
					<tr><td>注销标记</td><td>
						<select v-model="user.zxbj">
							<option value="0">未注销</option>
							<option value="1">已注销</option>
						</select>
					</td></tr>
					<tr><td>角色</td><td>
						<select v-model="user.role_id">
							<option value="-1">请选择</option>
							<option :value="role.role_id" v-for="role in roleList">{{role.role_describe}}</option>
						</select>
					</td></tr>
					<tr><td colspan="2"><input type="button" class="btn btn-info btn-circle" value="提交" @click="submit()" /><span style="color:red;margin-left:5px">{{message}}</span></td></tr>
					</tbody>
				</table>
				<button type="button" class="btn btn-info" onclick="back()">返回</button>
			</div>
			<!-- 修改 -->
			<div id="modifyUser" style="display: none">
				<div class="panel-heading">用户修改</div>
				<table width="100%"
					class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline"
					role="grid" aria-describedby="dataTables-example_info"
					style="width: 100%; text-align:center">
					<tbody>
					<tr><td>用户名</td><td><input type="text" v-model.trim.lazy="user.username"></td></tr>
					<tr><td>密码</td><td><input type="button" value="输入新密码" onclick="showpwd()"><input id="pwd" style="display:none" type="text" v-model.trim.lazy="user.password"></td></tr>
					<tr><td>办公电话</td><td><input type="text" v-model.trim.lazy="user.office_phone"></td></tr>
					<tr><td>个人电话</td><td><input type="text" v-model.trim.lazy="user.mobile_phone"></td></tr>
					<tr><td>Email</td><td><input type="text" v-model.trim.lazy="user.email"></td></tr>
					<tr><td>注销标记</td><td>
						<select v-model="user.zxbj">
							<option value="0">未注销</option>
							<option value="1">已注销</option>
						</select>
					</td></tr>
					<tr><td>角色</td><td>
						<select v-model="user.role_id">
							<option value="-1">请选择</option>
							<option :value="role.role_id" v-for="role in roleList">{{role.role_describe}}</option>
						</select>
					</td></tr>
					<tr><td colspan="2"><input type="button" class="btn btn-info btn-circle" value="提交" @click="submit()" /><span style="color:red;margin-left:5px">{{message}}</span></td></tr>
					</tbody>
				</table>
				<button type="button" class="btn btn-info" onclick="back()">返回</button>
			</div>
		</div>
	</div>
</body>
</html>
